/* css/starstyle.css */
body {
    display: block;
    margin: 0px;
}
    /* 可拖动按钮的样式 */
    .draggable-button {
      position: absolute;
      top: 50px;
      left: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #f1f1f1;
      cursor: move;
      z-index: 9999;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    /* 隐藏的分栏的样式 */
 .sidebar {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: #ccc;
  transition: left 0.3s ease;
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sidebar-list {
  list-style-type: disc;
  padding-left: 20px;
}

.sidebar-list-item {
  margin-bottom: 5px;
}

.sidebar-link {
  font-size: 16px;
  margin-bottom: 5px;
}

    
    /* 分栏显示时的样式 */
    .sidebar.show { 
      left: 0; z-index: 9998;
    }



header {
  display: flex;
  justify-content: space-between;
 
  padding: 20px;
  background-color: #000000;
}

.title {
    position: relative;
    font-family: miso-bold;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.title:hover {
 color: #000000;
}

#title-lyeve{
    position: left;
    font-family: miso-bold;
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin-bottom: 10px;
}
.social-media-icons a {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.social-media-icons a:hover {
  color: #EEEE00;
}
.text
{
	position: relative;
	font-family: Arial;
	font-size: 20px;
	color: #cccccc;
	line-height: 25px;
	margin-bottom: 18px;
}

.text a
{	justify-content: center;
	font-weight: bold;
	text-decoration: none;
	font-size: 24px;
	color: #ffffff;
}

.logo
{    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    background-image: url("https://notion-avatar.vercel.app/api/svg/eyJmYWNlIjowLCJub3NlIjo0LCJtb3V0aCI6NSwiZXllcyI6OCwiZXllYnJvd3MiOjgsImdsYXNzZXMiOjEyLCJoYWlyIjoyNCwiYWNjZXNzb3JpZXMiOjAsImRldGFpbHMiOjksImJlYXJkIjowLCJmbGlwIjowLCJjb2xvciI6IiNmZWYxOWYiLCJzaGFwZSI6InNxdWFyZSJ9");
background-size:cover;}


/* new */
.card-container {
    display: flex; /* 使用弹性布局 */
    justify-content: center;
    align-items: center;
    height:70vh;
    width:100%;
    flex-wrap: wrap;
	margin-bottom: 0px;
	background-size: cover; 
	background-position: center; 
background-repeat: no-repeat;
}

.text {
  font-size: 50px; /* 设置字体大小，可以根据需要调整数值 */
}

.card-row {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}


.card {
    position: relative;
    width: 210px;
    height: 280px;
    transition: transform 0.5s, z-index 0s 0.5s;
    transform-style: preserve-3d;
    transform-origin: bottom center;  
	border-radius: 20px; 
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    cursor: pointer;
	margin-right: -70px;

}

.card:hover {
    transform: scale(1.2); 
	/* 在悬停时放大 5% */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(0deg);
}
.card-front img {
    filter: blur(0.1px) grayscale(80%);
    transition: filter 0.3s ease; /* 添加过渡效果，使颜色变化平滑 */
}

.card-front img:hover {
    filter: none; /* 取消模糊和灰色效果 */
}

.card-back {
    transform: rotateY(180deg);
    display: none;  );
}


.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.card img:hover {
 
	/* 在悬停时放大 5% */
}

.card-text {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: white;
    font-size: 16px;
    text-align: left;
    pointer-events: none;
}

.card.flipped {
    transform: rotateY(180deg) scale(3);
	  transform-origin: center center;
    transition: transform 0.5s, z-index 0s;
    z-index: 1;
}

.card.flipped .card-front {
    display: none;
}

.card.flipped .card-back {
    display: block;
}
